<div class="animated fadeIn">
  <section class="inner-page-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-6">
          <div class="inner-page-wrapper">
            <h2 class="page-title">Vote 2 Win</h2>
            <p>Vote more win more</p>
          </div>
          
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="inner-banner-img"><img src="../../../assets/img/inner-banner.png" alt="image"></div>
        </div>
      </div>
    </div>
  </section>

  <!--/.row-->
  <section class="buy-lotterty-section padding-top-130 padding-bottom-130 card has_bg_image"
    data-background="assets/img/bg-1.jpg" style="background-image: url('assets/img/bg-1.jpg');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-header text-center">
            <h1 class="header-title">Buy Lottery Direct Online</h1>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="select-number-area">
            <h3 class="title">Select Number</h3>
            <ul class="number-list">
              <li>00</li>
              <li>01</li>
              <li class="active">02</li>
              <li>03</li>
              <li>04</li>
              <li>05</li>
              <li>06</li>
              <li>07</li>
              <li>08</li>
              <li>09</li>
              <li>10</li>
              <li>11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li class="active">18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li class="active">22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>
              <li>32</li>
              <li>33</li>
              <li class="active">34</li>
              <li>35</li>
              <li class="active">36</li>
              <li>37</li>
              <li>38</li>
              <li>39</li>
              <li>40</li>
              <li>41</li>
              <li>42</li>
              <li class="active">43</li>
              <li>44</li>
              <li>45</li>
              <li>46</li>
              <li>47</li>
              <li class="active">48</li>
              <li>49</li>
            </ul>
            <div class="btn-area">
              <button type="button" class="cmn-btn btn-md" (click)="quickPick()">Quick pick</button>
              <button type="button" class="del-btn"><i class="fa fa-trash"></i></button>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="number-selected-area">
            <div class="system-select-area">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                  <span class="system">System 6</span>
                  <span class="select-number-amount">Select 6 Number Price</span>
                  <span class="amount">$01</span>
                </label>
              </div><!-- checkbox end -->
              <div class="checkbox">
                <label>
                  <input type="checkbox" checked="">
                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                  <span class="system">System 6</span>
                  <span class="select-number-amount">Select 6 Number Price</span>
                  <span class="amount">$01</span>
                </label>
              </div><!-- checkbox end -->
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                  <span class="system">System 6</span>
                  <span class="select-number-amount">Select 6 Number Price</span>
                  <span class="amount">$01</span>
                </label>
              </div><!-- checkbox end -->
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                  <span class="system">System 6</span>
                  <span class="select-number-amount">Select 6 Number Price</span>
                  <span class="amount">$01</span>
                </label>
              </div><!-- checkbox end -->
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                  <span class="system">System 6</span>
                  <span class="select-number-amount">Select 6 Number Price</span>
                  <span class="amount">$01</span>
                </label>
              </div><!-- checkbox end -->
            </div>
            <div class="selected-number-box">
              <ul class="selected-number-list">
                <li>02</li>
                <li>22</li>
                <li>18</li>
                <li>48</li>
                <li>34</li>
                <li>43</li>
                <li>36</li>
                <li><i class="fa fa-times"></i></li>
                <li><i class="fa fa-times"></i></li>
                <li><i class="fa fa-times"></i></li>
                <li><i class="fa fa-times"></i></li>
                <li><i class="fa fa-times"></i></li>
              </ul>
            </div>
            <div class="btn-area">
              <button type="button" class="cmn-btn btn-md" (click)="quickPick()">Quick pick</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="latest-lottery-result padding-top-130 padding-bottom-130 card">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-header text-center">
            <h2 class="header-title">Latest Lottery Result</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="lottery-result-table-area">
            <table id="lotteryTable">
              <thead>
                <tr>
                  <th>Winning Mumbers</th>
                  <th>date</th>
                  <th>1st price</th>
                  <th>2nd price</th>
                  <th>3rd price</th>
                  <th>4th price</th>
                  <th>5th price</th>
                  <th>total price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <ul class="number-result-list">
                      <li>18</li>
                      <li>22</li>
                      <li>32</li>
                      <li>18</li>
                      <li>34</li>
                      <li>43</li>
                    </ul>
                  </td>
                  <td>21-03-2019</td>
                  <td>$2.6M</td>
                  <td>$800K</td>
                  <td>$85K</td>
                  <td>$1K</td>
                  <td>$100</td>
                  <td>$3.5M</td>
                </tr>
                <tr>
                  <td>
                    <ul class="number-result-list">
                      <li>18</li>
                      <li>22</li>
                      <li>32</li>
                      <li>18</li>
                      <li>34</li>
                      <li>43</li>
                    </ul>
                  </td>
                  <td>21-03-2019</td>
                  <td>$2.6M</td>
                  <td>$800K</td>
                  <td>$85K</td>
                  <td>$1K</td>
                  <td>$100</td>
                  <td>$3.5M</td>
                </tr>
                <tr>
                  <td>
                    <ul class="number-result-list">
                      <li>18</li>
                      <li>22</li>
                      <li>32</li>
                      <li>18</li>
                      <li>34</li>
                      <li>43</li>
                    </ul>
                  </td>
                  <td>21-03-2019</td>
                  <td>$2.6M</td>
                  <td>$800K</td>
                  <td>$85K</td>
                  <td>$1K</td>
                  <td>$100</td>
                  <td>$3.5M</td>
                </tr>
                <tr>
                  <td>
                    <ul class="number-result-list">
                      <li>18</li>
                      <li>22</li>
                      <li>32</li>
                      <li>18</li>
                      <li>34</li>
                      <li>43</li>
                    </ul>
                  </td>
                  <td>21-03-2019</td>
                  <td>$2.6M</td>
                  <td>$800K</td>
                  <td>$85K</td>
                  <td>$1K</td>
                  <td>$100</td>
                  <td>$3.5M</td>
                </tr>
                <tr>
                  <td>
                    <ul class="number-result-list">
                      <li>18</li>
                      <li>22</li>
                      <li>32</li>
                      <li>18</li>
                      <li>34</li>
                      <li>43</li>
                    </ul>
                  </td>
                  <td>21-03-2019</td>
                  <td>$2.6M</td>
                  <td>$800K</td>
                  <td>$85K</td>
                  <td>$1K</td>
                  <td>$100</td>
                  <td>$3.5M</td>
                </tr>
                <tr style="display: none;">
                  <td>
                    <ul class="number-result-list">
                      <li>18</li>
                      <li>22</li>
                      <li>32</li>
                      <li>18</li>
                      <li>34</li>
                      <li>43</li>
                    </ul>
                  </td>
                  <td>21-03-2019</td>
                  <td>$2.6M</td>
                  <td>$800K</td>
                  <td>$85K</td>
                  <td>$1K</td>
                  <td>$100</td>
                  <td>$3.5M</td>
                </tr>
                <tr style="display: none;">
                  <td>
                    <ul class="number-result-list">
                      <li>18</li>
                      <li>22</li>
                      <li>32</li>
                      <li>18</li>
                      <li>34</li>
                      <li>43</li>
                    </ul>
                  </td>
                  <td>21-03-2019</td>
                  <td>$2.6M</td>
                  <td>$800K</td>
                  <td>$85K</td>
                  <td>$1K</td>
                  <td>$100</td>
                  <td>$3.5M</td>
                </tr>
                <tr style="display: none;">
                  <td>
                    <ul class="number-result-list">
                      <li>18</li>
                      <li>22</li>
                      <li>32</li>
                      <li>18</li>
                      <li>34</li>
                      <li>43</li>
                    </ul>
                  </td>
                  <td>21-03-2019</td>
                  <td>$2.6M</td>
                  <td>$800K</td>
                  <td>$85K</td>
                  <td>$1K</td>
                  <td>$100</td>
                  <td>$3.5M</td>
                </tr>
                <tr style="display: none;">
                  <td>
                    <ul class="number-result-list">
                      <li>18</li>
                      <li>22</li>
                      <li>32</li>
                      <li>18</li>
                      <li>34</li>
                      <li>43</li>
                    </ul>
                  </td>
                  <td>21-03-2019</td>
                  <td>$2.6M</td>
                  <td>$800K</td>
                  <td>$85K</td>
                  <td>$1K</td>
                  <td>$100</td>
                  <td>$3.5M</td>
                </tr>
                <tr style="display: none;">
                  <td>
                    <ul class="number-result-list">
                      <li>18</li>
                      <li>22</li>
                      <li>32</li>
                      <li>18</li>
                      <li>34</li>
                      <li>43</li>
                    </ul>
                  </td>
                  <td>21-03-2019</td>
                  <td>$2.6M</td>
                  <td>$800K</td>
                  <td>$85K</td>
                  <td>$1K</td>
                  <td>$100</td>
                  <td>$3.5M</td>
                </tr>
                <tr style="display: none;">
                  <td>
                    <ul class="number-result-list">
                      <li>18</li>
                      <li>22</li>
                      <li>32</li>
                      <li>18</li>
                      <li>34</li>
                      <li>43</li>
                    </ul>
                  </td>
                  <td>21-03-2019</td>
                  <td>$2.6M</td>
                  <td>$800K</td>
                  <td>$85K</td>
                  <td>$1K</td>
                  <td>$100</td>
                  <td>$3.5M</td>
                </tr>
                <tr style="display: none;">
                  <td>
                    <ul class="number-result-list">
                      <li>18</li>
                      <li>22</li>
                      <li>32</li>
                      <li>18</li>
                      <li>34</li>
                      <li>43</li>
                    </ul>
                  </td>
                  <td>21-03-2019</td>
                  <td>$2.6M</td>
                  <td>$800K</td>
                  <td>$85K</td>
                  <td>$1K</td>
                  <td>$100</td>
                  <td>$3.5M</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="btn-area text-center">
            <button id="show" type="button" class="cmn-btn load-more">load more</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="work-with-app-section padding-top-130 padding-bottom-130 card">
    <div class="element-shape"><img src="assets/img/elements/app-section-shape.png" alt="image"></div>
    <div class="element-tablet"><img src="assets/img/elements/tablet.png" alt="image"></div>
    <div class="element-phone"><img src="assets/img/elements/phone.png" alt="image"></div>
    <div></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-header text-center">
            <h2 class="header-title">How to Work With This App?</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="work-with-app-item d-flex">
            <div class="icon">
              <i class="flaticon-cloud-computing"></i>
            </div>
            <div class="content">
              <h3>Download it for Free</h3>
              <p>Alteration literature to or an sympathize mr imprudence. Of is ferrars subject as enjoyed or tedious
                cottage.</p>
            </div>
          </div><!-- work-with-app-item end -->
          <div class="work-with-app-item d-flex">
            <div class="icon">
              <i class="flaticon-cloud-computing"></i>
            </div>
            <div class="content">
              <h3>Download it for Free</h3>
              <p>Alteration literature to or an sympathize mr imprudence. Of is ferrars subject as enjoyed or tedious
                cottage.</p>
            </div>
          </div><!-- work-with-app-item end -->
          <div class="work-with-app-item d-flex">
            <div class="icon">
              <i class="flaticon-cloud-computing"></i>
            </div>
            <div class="content">
              <h3>Download it for Free</h3>
              <p>Alteration literature to or an sympathize mr imprudence. Of is ferrars subject as enjoyed or tedious
                cottage.</p>
            </div>
          </div><!-- work-with-app-item end -->
          <div class="btn-area">
            <a href="#0"><img src="assets/img/apple-btn-logo.png" alt="image"></a>
            <a href="#0"><img src="assets/img/goole-app-btn.png" alt="image"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="affiliate-section padding-top-130 padding-bottom-130 card">
    <div class="element-shape"><img src="assets/img/affiliate-shape.png" alt="image"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-header text-center">
            <h2 class="header-title">Join Our Affiliate Program</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="thumb">
            <img src="assets/img/affiliate.png" alt="image">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="affiliate-item d-flex">
            <div class="icon">
              <i class="flaticon-money"></i>
            </div>
            <div class="content">
              <h4 class="title"><a href="#0">Weekly Payment for Qualified Traffic</a></h4>
              <p>Had denoting properly jointure you occasion directly raillery. In said to of poor full be post face
                snug.</p>
            </div>
          </div><!-- affiliate-item end -->
          <div class="affiliate-item d-flex">
            <div class="icon">
              <i class="flaticon-unlimited"></i>
            </div>
            <div class="content">
              <h4 class="title"><a href="#0">Unlimited Affiliates</a></h4>
              <p>Had denoting properly jointure you occasion directly raillery. In said to of poor full be post face
                snug.</p>
            </div>
          </div><!-- affiliate-item end -->
          <div class="affiliate-item d-flex">
            <div class="icon">
              <i class="flaticon-money-1"></i>
            </div>
            <div class="content">
              <h4 class="title"><a href="#0">Reliable Payments</a></h4>
              <p>Had denoting properly jointure you occasion directly raillery. In said to of poor full be post face
                snug.</p>
            </div>
          </div><!-- affiliate-item end -->
        </div>
      </div>
    </div>
  </section>
  <!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Traffic &amp; Sales
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-info">
                    <small class="text-muted">New Clients</small>
                    <br>
                    <strong class="h4">9,123</strong>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">Recuring Clients</small>
                    <br>
                    <strong class="h4">22,643</strong>
                  </div>
                </div>
                <!--/.col-->
              </div>
              <!--/.row-->
              <hr class="mt-0">
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    Monday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 34%" aria-valuenow="34"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 78%" aria-valuenow="78"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    Tuesday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 56%" aria-valuenow="56"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 94%" aria-valuenow="94"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    Wednesday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 12%" aria-valuenow="12"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 67%" aria-valuenow="67"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    Thursday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 43%" aria-valuenow="43"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 91%" aria-valuenow="91"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    Friday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 22%" aria-valuenow="22"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 73%" aria-valuenow="73"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    Saturday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 53%" aria-valuenow="53"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 82%" aria-valuenow="82"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    Sunday
                  </span>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 9%" aria-valuenow="9"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 69%" aria-valuenow="69"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-warning">
                    <small class="text-muted">Pageviews</small>
                    <br>
                    <strong class="h4">78,623</strong>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-success">
                    <small class="text-muted">Organic</small>
                    <br>
                    <strong class="h4">49,123</strong>
                  </div>
                </div>
                <!--/.col-->
              </div>
              <!--/.row-->
              <hr class="mt-0">
              <div class="progress-group">
                <div class="progress-group-header">
                  <i class="icon-user progress-group-icon"></i>
                  <div>Male</div>
                  <div class="ml-auto font-weight-bold">43%</div>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 43%" aria-valuenow="43"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group mb-5">
                <div class="progress-group-header">
                  <i class="icon-user-female progress-group-icon"></i>
                  <div>Female</div>
                  <div class="ml-auto font-weight-bold">37%</div>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 43%" aria-valuenow="43"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group">
                <div class="progress-group-header align-items-end">
                  <i class="icon-globe progress-group-icon"></i>
                  <div>Organic Search</div>
                  <div class="ml-auto font-weight-bold mr-2">191.235</div>
                  <div class="text-muted small">(56%)</div>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 56%" aria-valuenow="56"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group">
                <div class="progress-group-header align-items-end">
                  <i class="icon-social-facebook progress-group-icon"></i>
                  <div>Facebook</div>
                  <div class="ml-auto font-weight-bold mr-2">51.223</div>
                  <div class="text-muted small">(15%)</div>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 15%" aria-valuenow="15"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group">
                <div class="progress-group-header align-items-end">
                  <i class="icon-social-twitter progress-group-icon"></i>
                  <div>Twitter</div>
                  <div class="ml-auto font-weight-bold mr-2">37.564</div>
                  <div class="text-muted small">(11%)</div>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 11%" aria-valuenow="11"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group">
                <div class="progress-group-header align-items-end">
                  <i class="icon-social-linkedin progress-group-icon"></i>
                  <div>LinkedIn</div>
                  <div class="ml-auto font-weight-bold mr-2">27.319</div>
                  <div class="text-muted small">(8%)</div>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 8%" aria-valuenow="8"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->
          <br>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>User</th>
                <th class="text-center">Country</th>
                <th>Usage</th>
                <th class="text-center">Payment Method</th>
                <th>Activity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Yiorgos Avraamu</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-us h4 mb-0" title="us" id="us"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>50%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa fa-cc-mastercard" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>10 sec ago</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-danger"></span>
                  </div>
                </td>
                <td>
                  <div>Avram Tarasios</div>
                  <div class="small text-muted">

                    <span>Recurring</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-br h4 mb-0" title="br" id="br"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>10%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="10"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa fa-cc-visa" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>5 minutes ago</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-warning"></span>
                  </div>
                </td>
                <td>
                  <div>Quintin Ed</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-in h4 mb-0" title="in" id="in"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>74%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 74%" aria-valuenow="74"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa fa-cc-stripe" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>1 hour ago</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-secondary"></span>
                  </div>
                </td>
                <td>
                  <div>Enéas Kwadwo</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-fr h4 mb-0" title="fr" id="fr"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>98%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 98%" aria-valuenow="98"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa fa-paypal" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>Last month</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Agapetus Tadeáš</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-es h4 mb-0" title="es" id="es"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>22%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 22%" aria-valuenow="22"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa fa-google-wallet" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>Last week</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-danger"></span>
                  </div>
                </td>
                <td>
                  <div>Friderik Dávid</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-pl h4 mb-0" title="pl" id="pl"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>43%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 43%" aria-valuenow="43"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa fa-cc-amex" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>Yesterday</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
